<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding main">
    <h3>Logge dich ein</h3>
    <ion-item class="w-full">
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" #email></ion-input>
    </ion-item>
    <ion-item class="w-full">
      <ion-label position="floating">Passwort <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="password" #password></ion-input>
    </ion-item>
    <ion-button (click)="onLogin(email, password)" class="w-full ion-margin" color="dark" block type="submit">
      Einloggen
    </ion-button>
  </div>  
</ion-content>