<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Life Helper Mobile</ion-title>
      <ion-button slot="end" color="light" (click)="onLogout()" *ngIf="isLoggedIn()">
        Ausloggen
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="questionnaires">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Fragebögen</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
