<ion-content>
  <div class="container">
    <h3 class="ion-text-capitalize ion-text-center">Hallo {{username}}</h3>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="questionnaires">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Fragebögen</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>